.popup__close{
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close.png);
    top:-40px;
    right: -40px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
}
.popup__close:hover{
    opacity: 0.6;
}

@media (max-width: 767px){
    .popup__close{
        width: 20px;
        height: 20px;
        right: 0;
        top:-36px;
    }
}